<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1 class="title"> Chapter 1 Basic use</h1>
<app-news></app-news>
<h1 class="title"> Chapter 2 Form practice</h1>
<app-form></app-form>
<h1 class="title"> Chapter 3 TodoList practice</h1>
<app-todo-list></app-todo-list>
<router-outlet></router-outlet>
